@import '~antd/dist/antd.css';
body,html {margin:0; height:100%;}
.app{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#root{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.app-button{
    margin-top:10px;
}
.main{
    background-color: #ffffff;
    height: 600px;
    float: left;
    width: 800px;
}

.left{
    float: left;
    width: 200px;
    height: 100%;
}
.right{
    margin-left: 202px;
    float: left;
    height: 100%;
}
ul.menu{
    list-style: none;
    display: block;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    background-color: aqua;
}
ul.menu li {
    text-align: center;
    display: block;
    width: 198px;
    background-color: aqua;
    margin-top: 10px;
}
ul.menu li:hover {
    border: solid 1px darkseagreen;
    color: white;
    background-color: darkseagreen;
}
ul.menu li a:hover {
    color:white;
}

#jsmind_container{
    width:800px;
    height:500px;
    border:solid 1px #ccc;
    /*background:#f4f4f4;*/
    background:#f4f4f4;
}